*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppin' sans-serif;
}
h1{
    font-size: 2.5rem;
    font-family: 700;
    color: rgb(35,35,85);
}

span{
    font-size: .9rem;
    color: #757373;
}
h6{
    font-size: 1.1rem;
    color: rgb(24,24,49);
}
.container{
    /* border: 2px solid black; */
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px rgba(0,0 ,0, 0.2) ;
    position: fixed;
    background-color: #fff;
    width: 100%;
    z-index: 1;
}
.container .left img{

    height: 70px;
    padding-top: 5px;
    padding-left: 30px;
    cursor: pointer;
}
.container .right{
    width: 60%;
}
.container .right ul{
    /* border: 2px solid red; */
    box-sizing: border-box;
    display: flex;
    padding: 34px;
    justify-content: space-evenly;
    list-style: none;
}
.container .right ul a{
    box-sizing: border-box;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: black;
}
.container .right ul a:hover{
    color: rgba(160, 113, 25, 0.767);
}

/* Home */

#home{
    background-image: linear-gradient(rgba(9,5,54,0.3),rgba(5,4,46,0.7)),url("images/back.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
#home h2{
    font-size: 2.2rem;
    color: #fff;
    letter-spacing: 1px;
}
#home p{
    width: 50%;
    font-size: .9rem;
    color: #fff;
    line-height: 25px;
}
#home .btn{
    padding-top: 30px;
    transition: 0.5s;
}
#home a{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    border-radius: 5px;
    background-color: #fff;
    height: 10px;
    width: 10px;
}
#home .btn .blue{
    color: #fff;
    background-color: rgb(22, 22, 100);
    transition: 0.4s ease;
}
#home .btn .blue:hover{
    color: rgb(22, 22, 100);
    background-color: #fff;
}
#home .btn .yellow{
    color: #fff;
    background-color: rgb(245, 202, 10);
    transition: 0.4s ease;
}
#home .btn .yellow:hover{
    color: rgb(22, 22, 100);
    background-color: #fff;
}

/* feature */
#features{
    max-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
}
.feature{
    margin: 40px;
}
.feature h3{
    font-size: 2.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    color: rgb(16, 16, 40);
}
.feature p{
    margin-top: 10px;
    letter-spacing: 2px;
    font-weight: 600;
    font: 1em sans-serif;
}

#features .cards{
    /* height: 400px; */
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    text-align: start;
    /* align-items: center; */
    margin: auto;
    flex-wrap: wrap;
}
#features .cards .card{
    /* border: 2px solid black; */
    /* margin-left: 20px; */
    height: 200px;
    max-width: 320px;
    margin: 20px;
    padding: 20px;
    background: #f8f5f5;
    border-radius: 10px;
}
#features .cards .card i{
    font-size: 2.5rem;
}
#features .cards .card h4{
    margin-top: 15px;
    font-size: 1.5rem;
    font-weight: 800;
    color: #22212d;
}
#features .cards .card p{
    font-size: bold;
    margin-top: 4px;
    font-weight: 500;
    letter-spacing: 1px;
}
/* Course section */
#courses{
    /* border: 30px solid black;   */
    /* border: 2px solid black; */
    /* max-height: 200vh; */
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}
#courses h1{
    font-size: 2.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    color: rgb(16, 16, 40);
    margin-top: 20px;
}

#courses p{
    margin-top: 10px;
    letter-spacing: 2px;
    font-weight: 600;
    font: 1em sans-serif;
    margin-bottom: 20px;
}
#courses .courses{
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    margin: auto;
    flex-wrap: wrap;
}
#courses .courses .course{
    margin: 15px;
}
#courses .course img{
    width: 320px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-bottom: 0;
}
#courses .course .details{
    margin-top: 0;
    padding-top: 20px;
    height: 200px;
    display: flex;
    flex-direction: column;
    text-align: start;
    background: #f8f5f5;
    padding-left: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    /* border: 2px solid black; */
}
#courses .course .details span{
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 5px;
}
#courses .course .details h3{
    font-size: 1.2rem;
    font-weight: 600;
    color: #292c30;
    margin-bottom: 10px;
}
#courses .course .details .star i{
    color: rgba(235, 235, 12, 0.773);
}
#courses .price{
    height: 80px;
    color: white;
    width: 80px;
    background-color: blue;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    font-weight: 600;
    position: relative;
    left: 190px;
    z-index: 0;
    bottom: 140px;
    
}
/* registration */
#registration{
    /* border: 2px solid black; */
    padding: 6vw 8vw 6vw 8vw;
    color: white;
    display: flex;
    text-align: start;
    align-items: center;
    justify-content: space-between;
    height: 90vh;
    /* flex-wrap: wrap; */
    background-image:  linear-gradient(rgba(99,112,168,0.5), rgba(81,91,223,0.5)),url("./images/signup.jpg");
}

#registration .left {
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
    width: 60% ;
    height: 60%;
    /* flex-wrap: wrap; */
    padding: 10px;
}
#registration .left P{
    font-size: 1.2rem;
    font-family:Arial, Helvetica, sans-serif ;
}
#registration .left h1{
    color: #fff;
    font-size: 2.3rem;
    letter-spacing: 2px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 5px;
    font-weight: 800;
    margin-bottom: 20px;
}
#registration .left .reg-btn{
    display: flex;
    align-items: center;
    height: 150px;
    text-align: center;
    justify-content: space-evenly;
    /* border: 2px solid gray; */
    margin-top: 10px;
    
}

#registration .left .reg-btn .btn{
    /* border: 2px solid red; */
    height: 100px;
    width: 150px;
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
    flex-direction: column;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    background-color: rgba(245, 245, 245, 0.433);
}
#registration .right{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* border: 2px solid black; */
    height: 90%;
    color: black;
    width: 30%;
    border-radius: 15px;
    background-color: #ffffffc2;
}
#registration .right h2{
    margin-top: 50px;
    margin: 25px;
    font-size: 1.3rem;
    font-weight: 800;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#registration .right input{
    height: 50px;
    width: 260px;
    margin-bottom: 20px;
    padding-left: 10px;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 10px;
}
#registration .right button{
    border: none;
    outline: none;
    height: 50px;
    width: 150px;
    background-color: blue;
    border-radius: 10px;
    margin-left: 0px;
    color: white;
    transition: 0.5s;
    font-size: 0.9rem;
}
#registration .right button:hover{
    background-color: yellow;
    color: black;
}
/* profile section */
#experts{
    width: 100%;
    height: auto;
    margin-top: 100px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#experts h1{
    font-size: 2.5rem;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #22212d;
    /* margin-top: 10px; */
}
#experts p{
    font-size: 1.2rem;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
    margin-top: 2px;
    margin-bottom: 60px;
}
#experts .profiles{
    display: flex;
    width: 100%;
    height: auto;
    /* border: 2px solid black; */
    justify-content: space-evenly;
    margin-top: 10px 0;
    padding: 20px 0;
    /* background: #d0c4c4; */
    flex-wrap: wrap;
}
#experts .profiles .profile{
    display: flex;
    flex-direction: column;
    background: #ebe3e3;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
    margin: 10px;
}
#experts .profiles .profile img{
    padding: 20px;
}
#experts .profiles .profile h6{
    font-size: 1.2rem;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#experts .profiles .profile p{
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    margin-bottom: 30px;
}
#experts .profiles .profile .pro-links{
    /* border: 2px solid red; */
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}
#experts .profiles .profile .pro-links i{
  border: 1px solid rgb(33, 29, 29);
  border-radius: 10px;
  height: 50px;
  width: 50px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items:center;
  background: rgba(237, 36, 36, 0.389);
}